alto.data.corpus_name=sample
alto.data.base_dir:/home/ubuntu/alto-boot/data
alto.data.source_text_dir=/home/ubuntu/alto-boot/text_data
alto.data.words_per_topic=20
alto.data.top_docs_per_topic=50
alto.data.num_top_docs=100
alto.data.num_topics=20
server.compression.enabled=true
server.compression.mime-types=application/json,application/xml,text/html,text/xml,text/plain
